<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>AutoCT - Download Template</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- My imports -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/scripts.js" defer></script>
    </head>
    <body>
        <header>
        </header>
            <div class="divDownload" id="aaa" onclick="downloadFile(nameFile = 'Template.pdf')">
                <i class="fa fa-download"></i>
                Template
            </div>
    </body>
</html>